<li [ngClass]="{ completed: todo.completed, editing: editing }">
  <div class="view">
    <input class="toggle" type="checkbox" [checked]="todo.completed" (change)="handleCompleted()" />
    <label (dblclick)="handleEdit()" title="{{ todo.createdAt }}" style="background:  priorityColor() ">
      <span style="font-size: 60%; color: #777">
        <button (click)="handleChangePriority(1)" [disabled]="todo.priority >= 3">▲</button>
        <button (click)="handleChangePriority(-1)" [disabled]="todo.priority <= 1">▼</button>
        {{ todo.priority }}
      </span>
      {{ todo.name }}
      <span style="font-size: 60%; color: #777">
        {{ todo.createdAt }}
      </span>
    </label>
    <button class="destroy" (click)="handleRemove()"></button>
  </div>
  <input class="edit" *ngIf="editing" [(ngModel)]="name" (blur)="handleBlur()" autofocus />
</li>
